@{
  ViewBag.Title = "Crear nuevo";
  string entidad = ViewBag.Entidad as string;
}

<h2>Crear @entidad</h2>

@using (Html.BeginForm())
{
  @Html.Hidden("entidad", entidad)

  <div class="form-group">
    <label for="titulo">Título</label>
    <input type="text" name="titulo" class="form-control" required autofocus  />
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
  <a href="@Url.Action("Index", new { entidad })" class="btn btn-secondary">Cancelar</a>
}
